*{
    margin: 0;
    padding: 0;
}

.box-content{
    display: flex;
    margin: auto;
    border: 1px dashed black;
    width: 1000px;
    height: auto;
}

.img-registred{
    display: flex;
    margin: auto;
    width: 600px;
    height: auto;
}