*{
    margin: 0;
    padding: 0;
}

.main{
 display: flex;
 justify-content: center; 
 align-items: center;
 width: 100vw;
 height: 100vh;
 background-color: #F4FCDD;
}

.login{
    font-family: Open Sans Condensed;
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color: #FFFFFF;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.exit-button{
    width: 24px;
    height: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    align-self: flex-end;  
    margin-top: 2%; 
    margin-right: 2%;
}

.login-form{
    color: #3A4F41;
    display: flex;
    flex-direction: column;    
}

.login-form-title{
    margin-left: 10%;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
}

.login-form input{
    font-family: Open Sans Condensed;
    align-self: center;
    margin: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
}

.input-text{
    width: 80%;
    color: #3A4F41;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    height: 20%;
    border-style: solid;
    border:none;
    border-bottom:2px solid #828282;
    background-color: transparent;
}

.input-submit{
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    color: #3A4F41;
    width: 25%;
    height: 15%;
    border: 2px solid #3A4F41;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
 /* font-size: 14% !important; */
}
