.container-body{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
.center-body{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 85%;
    margin: auto;
}
.title-catalogue{
    margin: 55px auto;
    font-family: $openSans;
    font-size: 66px;
}
.box-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background: #f5f5f5;
    & > .item__img-catalogue{
        width: 100%;
    } 
    & > .item__title-catalogue{
        font-size: 45px;
        font-family: $openSans;
        padding-bottom: 20px;
    }
    & > .item__paragraph-catalogue{
        font-family: $openSans;
        padding-bottom: 25px;
    }
    & > .item__button-catalogue{
        width: 35%;
        height: 30px;
        border-radius: 2px;
        border: 1px solid black;
        margin-bottom: 25px;
    }   
    & > .item__button-catalogue:hover{
        background: black;
        color: white;
    } 
}     

 




