@import url(https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Open+Sans+Condensed:wght@300&display=swap rel="stylesheet");/***************************************************TEXT**************************************************************************/

/***************************************************NAV***************************************************************************/

/*Colors*/

/***************************************************FOOTER************************************************************************/

/*Colors*/

/***************************************************INDEX************************************************************************/

* {
  margin: 0;
  padding: 0;
}

.article__index {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.article__index:nth-of-type(2n) {
  background-color: #F5F5F5;
}

.article__index--1 {
  height: 94vh;
}

.article__index--2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.article__index--3 {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 1000px;
  height: 696px;
  margin: 70px auto;
  transition: transform 1.5s;
  transform: scale(0.95);
}

.article__paragraph-about {
  float: inline-start;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5%;
}

.article-about {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 1000px) {
  .article__index--4 {
    height: 170vh;
    padding-top: 20px;
  }
}

.container--index {
  width: 100%;
  height: auto;
}

.container__article {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 1000px;
  height: 100%;
  background: none;
  transition: transform 1.5s;
}

.container__article--1 {
  transform: scale(0.95);
}

.container__article--1:hover {
  transform: scale(1);
}

.container__article--2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.container__article--4 {
  display: flex;
  width: 1000px;
  height: 696px;
  margin: auto;
}

.container__article--5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 1000px;
  height: 696px;
  transition: transform 1.5s;
}

.container__item--img1 {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 15px;
  z-index: 2;
}

.container__item--img2 {
  width: 490px;
  transform: scale(0.95);
  transition: transform 1.5s;
}

.container__item--img2:hover {
  transform: scale(1);
}

.container__item--img3 {
  width: 1000px;
  height: 600px;
  position: absolute;
  z-index: 0;
}

.container__item--img3:hover {
  transform: scale(1);
}

.container__item--img4 {
  width: 490px;
  height: 700px;
  transform: scale(0.9);
  transition: transform 1.5s;
}

.container__item--img4:hover {
  transform: scale(1);
}

.container__item--img5 {
  margin-top: 30px;
  width: 1000px;
  margin-bottom: 30px;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  position: absolute;
  margin: 0px;
  z-index: 2;
}

.container__item--title {
  font-family: "Open Sans Condensed", sans-serif;
  color: black;
  font-size: 96px;
}

.container__item--title1 {
  position: absolute;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  font-size: 96px;
  z-index: 3;
}

.container__item--title2 {
  font-family: "Open Sans Condensed", sans-serif;
  color: black;
  font-size: 96px;
}

.container__item--title3 {
  justify-items: right;
  width: 320px;
  height: 120px;
  text-align: right;
  margin-top: 50px;
  margin-right: 50px;
  z-index: 1;
}

.container__item--title5 {
  position: relative;
  margin: 80px 20px 0px;
  height: 400px;
  text-align: center;
  color: white;
  font-weight: bold;
  z-index: 3;
}

.container__item--info2 {
  width: 490px;
  margin: 100px;
}

.container__item--paragraph {
  margin-top: 0px 0px 120px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}

.container__item--container--p3 {
  width: 100%;
  height: 120px;
  text-align: right;
  z-index: 1;
}

.container__item--p3 {
  width: 320px;
  float: right;
  margin-right: 50px;
  z-index: 1;
}

.container__item--p4 {
  margin-top: 30px;
}

.container__item--button1 {
  margin: 70px 80px 0px;
  width: 200px;
  height: 65px;
  border: 2px solid black;
  background: none;
  transition: all 0.8s;
}

.container__item--button1:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.container__item--text--button {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: bold;
}

.container__item--button2 {
  z-index: 3;
  margin: auto;
  width: 200px;
  height: 65px;
  color: white;
  border: 2px solid white;
  background: none;
  transition: all 0.8s;
}

.container__item--button2:hover {
  cursor: pointer;
  background: white;
  color: black;
}

.container__item--text--button2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: bold;
}

.container__img-about {
  margin-left: 25%;
  width: 50%;
}

@media (max-width: 1000px) {
  .container__article {
    width: auto;
  }

  .container__article--2 {
    flex-direction: column;
  }

  .container__article--3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .container__article--4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container__article--5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container__item--img1 {
    transform: scale(1);
  }

  .container__item--img2 {
    width: 90%;
  }

  .container__item--img3 {
    width: 100%;
    height: auto;
    order: 1;
  }

  .container__item--img4 {
    width: 95%;
    height: auto;
    order: 1;
    padding-top: 80px;
  }

  .container__item--img5 {
    width: 100%;
  }

  .container__item--title1 {
    color: black;
    font-size: 55px;
    font-weight: bold;
  }

  .container__item--title3 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    order: 2;
  }

  .container__item--title4 {
    margin-left: 10px;
    padding: 0;
  }

  .container__item--title5 {
    position: absolute;
    font-size: 32px;
    color: black;
  }

  .container__item--info2 {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .container__item--paragraph {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .container__item--container--p3 {
    order: 3;
  }

  .container__item--container--left {
    display: flex;
    flex-direction: column;
    order: 2;
  }

  .container__item--p4 {
    padding: 10px;
  }

  .container__item--button1 {
    margin-bottom: 100px;
  }

  .container__item--button2 {
    border: 2px solid black;
    background: none;
    margin-top: 380px;
    width: 180px;
    height: 55px;
  }

  .container__item--button2:hover {
    background: black;
    color: white;
  }

  .container__item--text--button2 {
    color: black;
  }

  .container__item--text--button2:hover {
    color: white;
  }
}

.nav {
  width: 100%;
  height: 60px;
  background: #D1F3F3 !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.nav__list {
  width: 1000px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav__item {
  list-style: none;
  font-weight: bold;
  opacity: 0.35;
  transition: 1s;
}

.nav__item:hover {
  opacity: 1;
}

.nav__item--logo {
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  text-underline-position: auto;
}

.nav__item--logo:hover {
  text-decoration: underline;
}

.nav__link {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: #000;
}

@media (max-width: 1000px) {
  .nav {
    height: auto;
    padding-bottom: 8px;
  }

  .nav__list {
    width: auto;
    padding: 10px 6px;
    flex-wrap: wrap;
  }

  .nav__item--logo {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 35px;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
  background: #637373;
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-top: 25px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-top: 25px;
}

.footer__end {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__item {
  list-style: none;
}

.footer__link {
  color: #fff;
  font-size: 18px;
  opacity: 1;
}

.footer__link--text {
  opacity: 0.6;
}

.footer__link--text:hover {
  text-decoration: underline;
  opacity: 1;
}

.footer__title {
  color: #fff;
  font-weight: bold;
}

.footer__end--menssage {
  color: #fff;
}

@media (max-width: 700px) {
  .footer__left {
    margin: 20px;
    width: 100%;
    padding-bottom: 35px;
    order: 1;
  }

  .footer__right {
    width: 100%;
    padding-bottom: 35px;
    order: 2;
  }

  .footer__end {
    order: 3;
    padding-bottom: 20px;
  }
}

