@import url(https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Open+Sans+Condensed:wght@300&display=swap rel="stylesheet");/***************************************************TEXT**************************************************************************/

/***************************************************NAV***************************************************************************/

/*Colors*/

/***************************************************FOOTER************************************************************************/

/*Colors*/

/***************************************************INDEX************************************************************************/

* {
  margin: 0;
  padding: 0;
}

.article-about {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.article-about__paragraph-about {
  float: inline-start;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5%;
}

.container__img-about {
  margin-left: 25%;
  width: 50%;
}

.container-body {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.center-body {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: auto;
  margin: auto;
}

.title-catalogue {
  margin: 55px auto;
  font-family: "Open Sans", sans-serif;
  font-size: 66px;
}

.box-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  height: auto;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  background: #f5f5f5;
}

.item > .item__img-catalogue {
  width: 100%;
}

.item > .item__title-catalogue {
  font-size: 45px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 20px;
}

.item > .item__paragraph-catalogue {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 25px;
}

.item > .item__button-catalogue {
  width: 35%;
  height: 30px;
  border-radius: 2px;
  border: 1px solid black;
  margin-bottom: 25px;
}

.item > .item__button-catalogue:hover {
  background: black;
  color: white;
}

.item > .item__img-catalogue {
  width: 100%;
}

.item > .item__title-catalogue {
  font-size: 45px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 20px;
}

.item > .item__paragraph-catalogue {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 25px;
}

.item > .item__button-catalogue {
  width: 35%;
  height: 30px;
  border-radius: 2px;
  border: 1px solid black;
  margin-bottom: 25px;
}

.item > .item__button-catalogue:hover {
  background: black;
  color: white;
}

.pagination {
  margin-left: 20px;
}

@media (max-width: 1000px) {
  .box-products {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container--contact {
  background: url("/images/fondo.jpg");
}

.container__info {
  background: white;
  opacity: 0.9;
  border-radius: 10px;
  width: auto;
  height: 80%;
  padding: 20px;
}

.div__item--contact {
  display: flex;
  justify-content: start;
  margin-top: 10px;
}

.h1--contact {
  display: flex;
  justify-content: center;
  text-align: center;
}

.label--contact {
  width: 150px;
}

.textarea {
  resize: none;
  width: auto;
}

.button--contact {
  float: right;
  padding: 8px 16px;
  background: skyblue;
  border-radius: 4px;
  border: 1px solid #637373;
  font-weight: bold;
  margin-top: 20px;
}

.button--contact:hover {
  background: #637373;
  color: white;
}

.button__back {
  display: block;
  margin-top: 10px;
  margin-right: 20px;
  float: right;
}

@media (max-width: 700px) {
  .container__info {
    width: 98%;
    padding: 10px;
  }

  .label--contact {
    width: 138px;
  }

  .textarea--contact {
    resize: none;
    width: 200px;
  }
}

.container--index {
  width: 100%;
  height: auto;
}

.article__index {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.article__index:nth-of-type(2n) {
  background-color: #F5F5F5;
}

.article__index .article__index--1 {
  height: 94vh;
}

.article__index .article__index--2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.article__index .article__index--3 {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 1000px;
  height: 696px;
  margin: 70px auto;
  transition: transform 1.5s;
  transform: scale(0.95);
}

.container__article {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 1000px;
  height: 100%;
  background: none;
  transition: transform 1.5s;
}

.container__article--1 {
  transform: scale(0.95);
}

.container__article--1:hover {
  transform: scale(1);
}

.container__article .container__article--2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.container__article .container__article--4 {
  display: flex;
  width: 1000px;
  height: 696px;
  margin: auto;
}

.container__article--5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 1000px;
  height: 696px;
  transition: transform 1.5s;
}

.container__item--img1 {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 15px;
  z-index: 2;
}

.container__item--img1:hover {
  transform: scale(1);
}

.container__item--img2 {
  width: 490px;
  transform: scale(0.95);
  transition: transform 1.5s;
}

.container__item--img2:hover {
  transform: scale(1);
}

.container__item--img3 {
  width: 1000px;
  height: 600px;
  position: absolute;
  z-index: 0;
}

.container__item--img3:hover {
  transform: scale(1);
}

.container__item--img4 {
  width: 490px;
  height: 700px;
  transform: scale(0.9);
  transition: transform 1.5s;
}

.container__item--img4:hover {
  transform: scale(1);
}

.container__item--img5 {
  margin-top: 30px;
  width: 1000px;
  margin-bottom: 30px;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  position: absolute;
  margin: 0px;
  z-index: 2;
}

.container__item--img5:hover {
  transform: scale(1);
}

.container__item--title {
  font-family: "Open Sans Condensed", sans-serif;
  color: black;
  font-size: 96px;
}

.container__item--title1 {
  position: absolute;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  font-size: 96px;
  z-index: 3;
}

.container__item--title2 {
  font-family: "Open Sans Condensed", sans-serif;
  color: black;
  font-size: 96px;
}

.container__item--title3 {
  justify-items: right;
  width: 320px;
  height: 120px;
  text-align: right;
  margin-top: 50px;
  margin-right: 50px;
  z-index: 1;
}

.container__item--title5 {
  position: relative;
  margin: 80px 20px 0px;
  height: 400px;
  text-align: center;
  color: white;
  font-weight: bold;
  z-index: 3;
}

.container__item--info2 {
  width: 490px;
  margin: 100px;
}

.container__item--paragraph {
  margin-top: 0px 0px 120px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}

.container__item--container--p3 {
  width: 100%;
  height: 120px;
  text-align: right;
  z-index: 1;
}

.container__item--p3 {
  width: 320px;
  float: right;
  z-index: 1;
}

.container__item--p4 {
  margin-top: 30px;
}

.container__item--button1 {
  margin: 70px 80px 0px;
  width: 200px;
  height: 65px;
  border: 2px solid black;
  background: none;
  transition: all 0.8s;
}

.container__item--button1:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.container__item--text--button {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: bold;
}

.container__item--button2 {
  z-index: 3;
  margin: auto;
  width: 200px;
  height: 65px;
  color: white;
  border: 2px solid white;
  background: none;
  transition: all 0.8s;
}

.container__item--button2:hover {
  cursor: pointer;
  background: white;
  color: black;
}

.container__item--text--button2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .article__index--4 {
    height: 170vh;
    padding-top: 20px;
  }

  .container__article {
    width: auto;
  }

  .container__article--2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container__article--3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .container__article--4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container__article .container__article--5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container__item--img1 {
    transform: scale(1);
  }

  .container__item--img2 {
    width: 90%;
  }

  .container__item--img3 {
    width: 100%;
    height: auto;
    order: 1;
  }

  .container__item--img4 {
    width: 95%;
    height: auto;
    order: 1;
    padding-top: 80px;
  }

  .container__item--img5 {
    width: 100%;
  }

  .container__item--title1 {
    color: black;
    font-size: 55px;
    font-weight: bold;
  }

  .container__item--title3 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    order: 2;
  }

  .container__item--title4 {
    margin-left: 10px;
    padding: 0;
  }

  .container__item--title5 {
    position: absolute;
    font-size: 32px;
    color: black;
  }

  .container__item--info2 {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .container__item--paragraph {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .container__item--container--p3 {
    order: 3;
    width: 100%;
  }

  .container__item--p3 {
    width: 200px;
    justify-content: right;
  }

  .container__item--container--left {
    display: flex;
    flex-direction: column;
    order: 2;
  }

  .container__item--p4 {
    padding: 10px;
  }

  .container__item--button1 {
    margin-bottom: 100px;
  }

  .container__item--button2 {
    border: 2px solid black;
    background: none;
    margin-top: 380px;
    width: 180px;
    height: 55px;
  }

  .container__item--button2:hover {
    background: black;
    color: white;
  }

  .container__item--text--button2 {
    color: black;
  }

  .container__item--text--button2:hover {
    color: white;
  }
}

.main {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
  color: #3a4f41;
  background: #ffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.main__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product__title {
  align-self: center;
  color: #3a4f41;
  margin: 5%;
}

.product__container {
  display: flex;
  flex-direction: column;
}

.product__imgContainer {
  width: 100%;
}

.product__img {
  width: 100%;
  padding: 1%;
  border-radius: 10px;
}

.product__detail {
  display: flex;
  flex-direction: column;
  padding-right: 18px;
  padding-left: 18px;
}

.description {
  width: 100%;
}

.description__title {
  padding-left: 8px;
}

.description__detail {
  padding-left: 20px;
  padding-right: 20px;
}

.related {
  width: 100%;
}

.related__title {
  padding-left: 8px;
}

.related__container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}

.related__product {
  margin: 20px 0;
}

.related__imgContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.related__img {
  width: 100%;
  padding: 1%;
  border-radius: 10px;
}

.related__btn {
  width: 50%;
  align-self: center;
  margin-top: 10px;
  border-radius: 10px;
  height: 15%;
  width: 40%;
  color: #3a4f41;
  background-color: #f5f5f5;
  border: solid 1px #3a4f41;
  font-weight: bold;
  font-size: x-large;
  font-family: Open Sans Condensed;
}

.related__btn:hover {
  background: #3a4f41;
  color: #ffff;
  transition: color 0.5s;
}

@media only screen and (min-width: 640px) {
  .main__container {
    border-radius: 5px;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
  }

  .product {
    align-self: center;
  }

  .product__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .product__imgContainer {
    width: 50%;
  }

  .product__detail {
    width: 25%;
    flex-direction: column;
    padding-right: 18px;
    padding-left: 18px;
    justify-content: center;
  }

  .product__text {
    display: flex;
  }

  .product__information {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .related__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .related__product {
    width: 25%;
  }

  .related__imgContainer {
    width: 100%;
  }
}

.btn-danger:hover {
  color: silver;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #ffff;
  display: flex;
  height: 100%;
}

.main__img {
  margin: 0;
  background-image: url(/images/img-5.jpg?a5c6b9299e6b49c6017fb5323075cf96);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.register {
  background-color: #f5f5f5;
  border-radius: 10px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  margin: 10px 0px;
}

.register__exit {
  align-self: flex-end;
}

.register__content {
  display: flex;
}

.register__title {
  margin-bottom: 10px;
  margin-left: 5%;
  font-family: Open Sans Condensed;
  color: #3a4f41;
  font-size: xx-large;
}

.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register__text {
  width: 90%;
  height: 30px;
  margin: 8px 0;
  border: 0;
  border-bottom: solid 1px #3a4f41;
  color: #3a4f41;
  background-color: #f5f5f5;
  outline: none;
  border-bottom: solid 1px #3a4f41;
}

.register__btn {
  margin-top: 10px;
  border-radius: 10px;
  height: 15%;
  width: 40%;
  color: #3a4f41;
  background-color: #f5f5f5;
  border: solid 1px #3a4f41;
  font-weight: bold;
  font-size: x-large;
  font-family: Open Sans Condensed;
}

.register__btn:hover {
  background: #3a4f41;
  color: #ffff;
  transition: color 0.5s;
}

@media only screen and (min-width: 640px) {
  .main {
    justify-content: center;
  }

  .main__img {
    width: 75%;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .register {
    width: 75%;
    align-self: center;
  }
}

@media only screen and (min-width: 1024px) {
  .main__img {
    height: 80vh;
    width: 75%;
  }

  .register {
    margin: auto;
    width: 50%;
  }
}

.container__form {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__form--img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/bg-product.png");
  width: 60%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 25px;
  color: #637373;
  background: rgba(245, 245, 245, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 80%;
  height: 80%;
}

.form__product--header {
  display: flex;
}

.form__container--title {
  width: 78%;
  display: flex;
  justify-content: center;
  padding: 15px 0p;
}

.form__title--create {
  font-weight: bolder;
  font-size: 34px;
  margin: 10px 0px;
}

.form__input .form__select {
  width: 90%;
  height: 30px;
  margin: 8px 0;
  border: 0;
  border-bottom: solid 1px #3a4f41;
  color: #3a4f41;
  background-color: #f5f5f5;
  outline: none;
  border-bottom: solid 1px #3a4f41;
}

.form__ingredients {
  align-items: center;
  margin-left: 2%;
  margin-bottom: 5%;
}

.form__description {
  align-items: center;
  margin-left: 2%;
  margin-bottom: 5%;
}

.form__quantity {
  align-items: center;
  margin-left: 2%;
  margin-bottom: 5%;
}

.form__price {
  align-items: center;
  margin-left: 2%;
  margin-bottom: 5%;
}

.form__upload-image {
  align-items: center;
  margin-left: 2%;
  margin-bottom: 5%;
}

.form__action-buttons {
  align-content: center;
  margin-left: 15%;
}

.form__button {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  margin: 5px;
  background-color: #637373;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 100px;
  height: 30px;
  transition: 0.5s ease;
}

.form__button:hover {
  background: #58a873;
  color: #fff;
}

.product-name {
  align-items: center;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.button__container {
  width: 22%;
}

.button__container .button__back {
  width: 40px;
  margin-bottom: 4px;
}

@media (max-width: 760px) {
  .container__form--img {
    width: 100%;
  }

  .form {
    width: 94%;
  }

  .form__upload-image {
    font-size: large;
  }
}

.container__list {
  width: 70vw;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 0px 28px -6px rgba(0, 0, 0, 0.75);
}

.div__container--titleList {
  margin: 30px 0px;
}

.div__container--addProduct {
  margin: 30px 5px;
}

.table {
  background: #f5f5f5;
}

.h1--title {
  font-weight: bold;
  font-size: 50px;
}

.button__list {
  margin-top: 2px;
}

@media (max-width: 1000px) {
  .container__list {
    width: 100vw;
    padding: 0px;
    margin: 0px;
    border-radius: 12px;
    box-shadow: 0px 0px 28px -6px rgba(0, 0, 0, 0.75);
  }

  .table {
    width: 100%;
    font-size: 12px;
    background: #f5f5f5;
  }
}

.nav {
  width: 100%;
  height: 60px;
  background: #D1F3F3 !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.nav__list {
  width: 1000px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav__item {
  list-style: none;
  font-weight: bold;
  opacity: 0.35;
  transition: 1s;
}

.nav__item:hover {
  opacity: 1;
}

.nav__item--logo {
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  text-underline-position: auto;
}

.nav__item--logo:hover {
  text-decoration: underline;
}

.nav__link {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: #000;
}

.nav__link:hover {
  color: black;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .nav {
    height: auto;
    padding-bottom: 8px;
  }

  .nav__list {
    width: auto;
    padding: 10px 6px;
    flex-wrap: wrap;
  }

  .nav__item--logo {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 35px;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
  background: #637373;
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-top: 25px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-top: 25px;
}

.footer__end {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__item {
  list-style: none;
}

.footer__link {
  color: #fff;
  font-size: 18px;
  opacity: 1;
}

.footer__link:hover {
  color: white;
  text-decoration: none;
}

.footer__link--text {
  opacity: 0.6;
}

.footer__link--text:hover {
  color: white;
  text-decoration: underline;
  opacity: 1;
}

.footer__title {
  color: #fff;
  font-weight: bold;
}

.footer__end--menssage {
  color: #fff;
}

@media (max-width: 700px) {
  .footer__left {
    margin: 20px;
    width: 100%;
    padding-bottom: 35px;
    order: 1;
  }

  .footer__right {
    width: 100%;
    padding-bottom: 35px;
    order: 2;
  }

  .footer__end {
    order: 3;
    padding-bottom: 20px;
  }
}

.main--login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #D1F3F3;
}

.login {
  font-family: "Open Sans Condensed", sans-serif;
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login__exit--button {
  width: 24px;
  height: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  align-self: flex-end;
  margin-top: 2%;
  margin-right: 2%;
}

.login__exit--link {
  color: #637373;
}

.login__form {
  color: #637373;
  display: flex;
  flex-direction: column;
}

.login__form--title {
  margin-left: 10%;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
}

.login__form--text {
  width: 80%;
  color: #637373;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  height: 20%;
  border-style: solid;
  border: none;
  border-bottom: 2px solid #828282;
  background-color: transparent;
}

.login__form--submit {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  color: #637373;
  width: 25%;
  height: 15%;
  border: 1px solid #637373;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  transition: 0.5 ease;
}

.login__form--submit:hover {
  background-color: #828282;
  color: white;
}

.login__form > input {
  font-family: Open Sans Condensed;
  align-self: center;
  margin: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
}

@media (max-width: 700px) {
  .login {
    width: 90%;
  }

  .login__form--submit {
    width: 35%;
  }
}

* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #ffff;
  display: flex;
  height: 100%;
}

.main__img {
  margin: 0;
  background-image: url(/images/img-5.jpg?a5c6b9299e6b49c6017fb5323075cf96);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.register {
  background-color: #f5f5f5;
  border-radius: 10px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  margin: 10px 0px;
}

.register__exit {
  align-self: flex-end;
}

.register__content {
  display: flex;
}

.register__title {
  margin-bottom: 10px;
  margin-left: 5%;
  font-family: Open Sans Condensed;
  color: #3a4f41;
  font-size: xx-large;
}

.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register__text {
  width: 90%;
  height: 30px;
  margin: 8px 0;
  border: 0;
  border-bottom: solid 1px #3a4f41;
  color: #3a4f41;
  background-color: #f5f5f5;
  outline: none;
  border-bottom: solid 1px #3a4f41;
}

.register__btn {
  margin-top: 10px;
  border-radius: 10px;
  height: 15%;
  width: 40%;
  color: #3a4f41;
  background-color: #f5f5f5;
  border: solid 1px #3a4f41;
  font-weight: bold;
  font-size: x-large;
  font-family: Open Sans Condensed;
}

.register__btn:hover {
  background: #3a4f41;
  color: #ffff;
  transition: color 0.5s;
}

@media only screen and (min-width: 640px) {
  .main {
    justify-content: center;
  }

  .main__img {
    width: 75%;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .register {
    width: 75%;
    align-self: center;
  }
}

@media only screen and (min-width: 1024px) {
  .main__img {
    height: 80vh;
    width: 75%;
  }

  .register {
    margin: auto;
    width: 50%;
  }
}

.section {
  display: inline-flex;
  background-color: none;
  margin: 50px 30%;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 900;
  font-size: 3em;
}

.section__container-img--404 {
  align-items: flex-start;
}

.section__container-img--403 {
  align-items: flex-start;
}

.section__container-paragraph--button {
  margin-top: 10px;
  border-radius: 10px;
  height: 15%;
  width: 60%;
  color: #3a4f41;
  background-color: #f5f5f5;
  border: solid 1px #3a4f41;
  font-weight: bold;
  font-size: 50%;
  font-family: Open Sans Condensed;
}

.section__container-paragraph--button:hover {
  background: #3a4f41;
  color: #ffff;
  transition: color 0.5s;
}

