.article{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.img{
    margin-left: 25%;
    width: 50%;
}

.article__paragraph{
    float: inline-start;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5%;
}