*{
   margin: 0px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    font-family: 'nunito';
    overflow: hidden;
    background: #637373;
}

.footer__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 25px;
}

.footer__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 25px;
}

.footer__end{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__item{
    list-style: none;
}

.footer__link{
    color: white;
    font-size: 18px;
    opacity: 1;
}

.footer__link--text{
    opacity: 0.6;
}

.footer__link--text:hover{
    text-decoration: underline;
    opacity: 1;
}

.footer__title{
    color: white;
    font-weight: bold;
}

.footer__end--menssage{
    color: white;
}