*{
    margin: 0px;
}

.container--index{
    width: 100%;
    height: auto;
}

.article__index:nth-of-type(2n){
    background-color: #F5F5F5;
}

.article__index{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.container__article{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 1000px;
    height: 100%;
    background: none;
    transition: transform 1.5s;
}

.container__article--1{
    transform: scale(0.95);
}

.container__article--1:hover{
    transform: scale(1);
}

.article__index--1{
    height: 94vh;
}

.item__article--img1{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 15px;
    z-index: 2;
}

.item__article--title1{
    position: absolute;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif, arial;
    color: white;
    font-size: 96px;
    z-index: 3;
}

.article__index--2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.item__article--img2{
    width: 490px;
    transform: scale(0.9);
    transition: transform 1.5s;
}

.item__article--img2{
    transform: scale(0.95);
}

.item__article--img2:hover{
    transform: scale(1);
}

.item__article--info2{
    width: 490px;
    margin: 100px;
}

.item__article--title{
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    font-size: 96px;
}
.item__article--p{
    margin-top: 0px 0px 120px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
.item__article--button1{
    margin: 70px 80px 0px;
    width: 200px;
    height: 65px;
    border: 2px solid black;
    background: none;
    transition: all 0.8s;
}

.item__article--button1:hover{
    cursor: pointer;
    background: black;
    color: white;
}

.item__article--text--button{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: bold;
}

.container__article--3{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 1000px;
    height: 696px;
    margin: 70px auto;
    transition: transform 1.5s;
    transform: scale(0.95);
}

.item__article--img3{
    width: 1000px;
    height: 600px;
    position: absolute;
    z-index: 0;
}

.container__article--3:hover{
    transform: scale(1);
}

.item__article--title3{
    justify-items: right;
    width: 320px;
    height: 120px;
    text-align: right;
    margin-top: 50px;
    margin-right: 50px;
    z-index: 1;
}

.item__article--container--p3{
    width: 100%;
    height: 120px;
    text-align: right;
    z-index: 1;
}

.item__article--p3{
    width: 320px;
    float: right;
    margin-right: 50px;
    z-index: 1;
}

.container__article--4{
    display: flex;
    width: 1000px;
    height: 696px;
    margin: auto;
}

.item__article--img4{
    width: 490px;
    height: 700px;
    transform: scale(0.9);
    transition: transform 1.5s;
}

.item__article--img4:hover{
    transform: scale(1);
}

.box-4 > .info-left{
    margin-top: 30px;
    margin-left: 30px;
}

.item__article--p4{
    margin-top: 30px;
}


.container__article--5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 1000px;
    height: 696px;
    /*border: 2px dashed deeppink;*/
    transition: transform 1.5s;
}
.item__article--img5{
    margin-top: 30px;
    width: 1000px;
    margin-bottom: 30px;
    filter: blur(1px);
    position: absolute;
    margin: 0px;
    z-index: 2;
}
.item__article--title5{
    position: relative;
    margin: 80px 20px 0px;
    height: 400px;
    text-align: center;
    color: white;
    font-weight: bold;
    z-index: 3;
}
.item__article--button2{
    z-index: 3;
    margin: auto;
    width: 200px;
    height: 65px;
    color: white;
    border: 2px solid white;
    background: none;
    transition: all 0.8s;
}

.item__article--text--button2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: bold;
}

.item__article--button2:hover{
    cursor: pointer;
    background: white;
    color: black;
}
