*{
    margin: 0px;
}

.container--index{
    
}

.article__index:{}

.article__index{
    
}

.container__article{
    
}

.container__article--1{
    
}

.container__article--1:hover{
    
}

.article__index--1{
    
}

.article__item--img1{
    
}

.article__item--title1{
    
}

.article__index--2{
    
}

.article__item--img2{
    
}

.article__item--img2:hover{
    
}

.article__item--info2{
    
}

.article__item--title{
    
}
.article__item--p{
    
}
.article__item--button1{
    
}

.article__item--button1:hover{
    
}

.article__item--text--button{
    
}

.container__article--3{
    
}

.article__item--img3{
    
}

.container__article--3:hover{
    
}

.article__item--title3{
    
}

.article__item--container--p3{
    
}

.article__item--p3{
    
}

.container__article--4{
    
}

.article__item--img4{
    
}

.article__item--img4:hover{
    
}

.box-4 > .info-left{
    margin-top: 30px;
    margin-left: 30px;
}

.article__item--p4{
    
}


.container__article--5{
    
}
.article__item--img5{
    
}
.article__item--title5{
    
}
.article__item--button2{
    
}

.article__item--text--button2{
    
}

.article__item--button2:hover{
    
}

@media(max-width: 1000px){
        
    .container__article{
        
    }

    .article__item--img1{
        
    }

    .article__item--title1{
        
    }

    .article__item--img2{
        
    }

    .article__item--info2{
        
    }
    .container__article--2{
        
    }
    .article__item--p{
        
    }
    .article__item--button1{
        
    }

    
    .container__article--3{
        
    }
    .article__item--img3{
       
    }
    .article__item--title3{
        
    }
    .article__item--container--p3{
        
    }

    .article__index--4{
        
    }
    .article__item--container--left{
        
    }
    .article__item--p4{
        
    }
    .article__item--title4{
        
    }
    .container__article--4{
        
    }
    .article__item--img4{
        
    }
    .article__item--container--left{
        
    }


    .container__article--5{
        
    }

    .article__item--title5{
        
    }

    .article__item--img5{
        
    }

    .article__item--button2{
        
    }
    .article__item--button2:hover{
        
    }
    .article__item--text--button2{
        
    }
    
    .article__item--text--button2:hover{
        
    }
}