*{
    padding: 0;
    margin: 0;
}

.nav{
    width: 100%;
    height: 60px;

    background: #D1F3F3 !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.nav__list{
    width: 1000px;
    height: 100%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav__item{
    list-style: none;
}

.nav__link{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: #000;
}

.nav__item{
    font-weight: bold;
    opacity: 0.35;
    transition: 1s;
}

.nav__item:hover{
    opacity: 1;
}

.nav__item--logo{
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
    text-underline-position: auto;
}

/* Dropdown */

.nav__item--login{
    position: relative;
}

.dropdown-toggle {
    white-space: nowrap;
}
  
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.9rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

  
.dropdown-menu-right {
    right: 0;
    left: auto;
}

@media (max-width: 1000px){
        
    .nav__list{
        width: auto;
        padding: 10px 6px;
        flex-wrap: wrap;
    }

    .nav__item--login{
    }

    .nav__item--logo{
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        font-size: 35px;
    }

    .nav{
        height: auto;
        padding-bottom: 8px;
    }
}