* {
    margin: 0;
    padding: 0;
}

.box-content{
    
}

.img-registred{
    
}

.container-message{
    
}

.message{
    
}

.container-message > div{
    width: auto;
    height: auto;

    text-align: center;
    margin-bottom: 60px;
}

.container-message > a{

    
}

.container-message > a:hover{
    
}

/*view responsive*/

@media(max-width: 1000px){

    .box-content{
        width: 768px;
        height: 768px;
    }
    
    .img-registred{
        position: absolute;
        width: 768px;
        height: 768px;
    }
    
    .container-message{
    
        left: 80px;
        top: 100px;
    }
    
}

@media(max-width: 768px){
    .box-content{
        width: 446px;
        height: 446px;
    }
    
    .img-registred{
        position: absolute;
        width: 446px;
        height: 446px;
    }
    
    .container-message{
    
        left: 30px;
        top: 50px;
        width: 350px;
        height: 300px;
    }
    .message{
        font-size: 35px;
    }
    
    .container-message > a{
        font-size: 18px;

        padding: 15px 15px;
        margin: 60px 60px 20px;
    }
    
}

@media(max-width: 446px){ /*mobile*/
    .box-content{
        width: 320px;
        height: 400px;
    }
    
    .img-registred{
        position: absolute;
        width: 320px;
        height: 400px;
    }
    
    .container-message{
    
        left: 10px;
        top: 50px;
        width: 250px;
        height: 300px;
    }
    .message{
        font-size: 24px;
    }
    
    .container-message > a{
        font-size: 18px;

        padding: 15px 15px;
        margin: 60px 10px 20px;
    }
}
