/***************************************************NAV***************************************************************************/
/*Colors*/
$back-nav: #D1F3F3;
$link-nav: #000;

/***************************************************FOOTER************************************************************************/
/*Colors*/
$back-foot: #637373;
$link-foot: #fff;
$title-foot: #fff;
$end-msg-foot: #fff;
 
/***************************************************TEXT**************************************************************************/
$nunito: 'Nunito', sans-serif;