@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Open+Sans+Condensed:wght@300&display=swap rel="stylesheet"');
/***************************************************TEXT**************************************************************************/
$nunito: 'Nunito', sans-serif;
$openSans: 'Open Sans', sans-serif;
$openCondensed: 'Open Sans Condensed', sans-serif;;


/***************************************************NAV***************************************************************************/
/*Colors*/
$back-nav: #D1F3F3;
$link-nav: #000;

/***************************************************FOOTER************************************************************************/
/*Colors*/
$back-foot: #637373;
$link-foot: #fff;
$title-foot: #fff;
$end-msg-foot: #fff;

/***************************************************INDEX************************************************************************/
$back-indx: #F5F5F5;