.main{
 /* border-style: solid;
 color: black;  */
 display: flex;
 justify-content: center; 
 align-items: center;
 width: 100vw;
 height: 100vh;
 background-color: #F4FCDD;
}
.login{
    height: 80%;
    width: 40%;
    /* border-style: solid;
    color:red;   */
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color: #FFFFFF;
    border-radius: 24px;
    /* margin: 148px 51px; */
}
.login p{
 align-self: flex-end;   
}
.login-form{
    font-family:;
    display: flex;
    flex-direction: column;
}
.login-form input{
    align-self: center;
    margin: 20px;
}
.input-text{
 width: 80%;
}
.input-submit{
 width: 20%;
}
